In [1]:
import yfinance as yf

In [2]:
nvda = yf.Ticker("NVDA")

In [3]:
nvda.actions

                           Dividends  Stock Splits
Date
2000-06-27 00:00:00-04:00    0.00000           2.0
2001-09-10 00:00:00-04:00    0.00000           2.0
2006-04-07 00:00:00-04:00    0.00000           2.0
2007-09-11 00:00:00-04:00    0.00000           1.5
2012-11-20 00:00:00-05:00    0.01875           0.0
2013-02-26 00:00:00-05:00    0.01875           0.0
2013-05-21 00:00:00-04:00    0.01875           0.0
2013-08-20 00:00:00-04:00    0.01875           0.0
2013-11-19 00:00:00-05:00    0.02125           0.0
2014-02-25 00:00:00-05:00    0.02125           0.0
2014-05-20 00:00:00-04:00    0.02125           0.0
2014-08-19 00:00:00-04:00    0.02125           0.0
2014-11-19 00:00:00-05:00    0.02125           0.0
2015-02-24 00:00:00-05:00    0.02125           0.0
2015-05-19 00:00:00-04:00    0.02450           0.0
2015-08-18 00:00:00-04:00    0.02450           0.0
2015-11-18 00:00:00-05:00    0.02875           0.0
2016-02-29 00:00:00-05:00    0.02875           0.0
2016-05-24 00:00:00-04:00    0.02875           0.0
2016-08-23 00:00:00-04:00    0.02875           0.0
2016-11-23 00:00:00-05:00    0.03500           0.0
2017-02-22 00:00:00-05:00    0.03500           0.0
2017-05-19 00:00:00-04:00    0.03500           0.0
2017-08-22 00:00:00-04:00    0.03500           0.0
2017-11-22 00:00:00-05:00    0.03750           0.0
2018-02-22 00:00:00-05:00    0.03750           0.0
2018-05-23 00:00:00-04:00    0.03750           0.0
2018-08-29 00:00:00-04:00    0.03750           0.0
2018-11-29 00:00:00-05:00    0.04000           0.0
2019-02-28 00:00:00-05:00    0.04000           0.0
2019-05-30 00:00:00-04:00    0.04000           0.0
2019-08-28 00:00:00-04:00    0.04000           0.0
2019-11-27 00:00:00-05:00    0.04000           0.0
2020-02-27 00:00:00-05:00    0.04000           0.0
2020-06-04 00:00:00-04:00    0.04000           0.0
2020-09-01 00:00:00-04:00    0.04000           0.0
2020-12-03 00:00:00-05:00    0.04000           0.0
2021-03-09 00:00:00-05:00    0.04000           0.0
2021-06-09 00:00:00-04:00    0.04000           0.0
2021-07-20 00:00:00-04:00    0.00000           4.0
2021-08-31 00:00:00-04:00    0.04000           0.0
2021-12-01 00:00:00-05:00    0.04000           0.0
2022-03-02 00:00:00-05:00    0.04000           0.0
2022-06-08 00:00:00-04:00    0.04000           0.0
2022-09-07 00:00:00-04:00    0.04000           0.0
2022-11-30 00:00:00-05:00    0.04000           0.0
2023-03-07 00:00:00-05:00    0.04000           0.0
2023-06-07 00:00:00-04:00    0.04000           0.0
2023-09-06 00:00:00-04:00    0.04000           0.0
2023-12-05 00:00:00-05:00    0.04000           0.0
2024-03-05 00:00:00-05:00    0.04000           0.0

In [4]:
nvda.quarterly_income_stmt

,2024-01-31,2023-10-31,2023-07-31,2023-04-30,2023-01-31,2022-10-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,0.0,NaN
Tax Rate For Calcs,0.129094,0.122,0.114,0.075,0.21,NaN
Normalized EBITDA,14556000000.0,10957000000.0,7411000000.0,2659000000.0,1778000000.0,NaN
Total Unusual Items,0.0,0.0,0.0,0.0,0.0,NaN
Total Unusual Items Excluding Goodwill,0.0,0.0,0.0,0.0,0.0,NaN
Net Income From Continuing Operation Net Minority Interest,12285000000.0,9243000000.0,6188000000.0,2043000000.0,1414000000.0,NaN
Reconciled Depreciation,387000000.0,372000000.0,365000000.0,384000000.0,426000000.0,NaN
Reconciled Cost Of Revenue,5312000000.0,4720000000.0,4045000000.0,2544000000.0,2218000000.0,NaN
EBITDA,14556000000.0,10957000000.0,7411000000.0,2659000000.0,1778000000.0,NaN
EBIT,14169000000.0,10585000000.0,7046000000.0,2275000000.0,1352000000.0,NaN
Net Interest Income,231000000.0,171000000.0,122000000.0,84000000.0,51000000.0,NaN
Interest Expense,63000000.0,63000000.0,65000000.0,66000000.0,64000000.0,NaN
Interest Income,294000000.0,234000000.0,187000000.0,150000000.0,115000000.0,NaN
Normalized Income,12285000000.0,9243000000.0,6188000000.0,2043000000.0,1414000000.0,NaN
Net Income From Continuing And Discontinued Operation,12285000000.0,9243000000.0,6188000000.0,2043000000.0,1414000000.0,NaN
Total Expenses,8489000000.0,7703000000.0,6707000000.0,5052000000.0,4795000000.0,NaN
Total Operating Income As Reported,13614000000.0,10417000000.0,6800000000.0,2140000000.0,1256000000.0,NaN
Diluted Average Shares,NaN,2494000000.0,2499000000.0,2490000000.0,2477000000.0,2499000000.0
Basic Average Shares,NaN,2468000000.0,2473000000.0,2470000000.0,2464000000.0,2483000000.0
Diluted EPS,NaN,3.71,2.48,0.82,0.57,0.27
Basic EPS,NaN,3.75,2.5,0.83,0.57,0.27
Diluted NI Availto Com Stockholders,12285000000.0,9243000000.0,6188000000.0,2043000000.0,1414000000.0,NaN
Net Income Common Stockholders,12285000000.0,9243000000.0,6188000000.0,2043000000.0,1414000000.0,NaN
Net Income,12285000000.0,9243000000.0,6188000000.0,2043000000.0,1414000000.0,NaN
Net Income Including Noncontrolling Interests,12285000000.0,9243000000.0,6188000000.0,2043000000.0,1414000000.0,NaN
Net Income Continuous Operations,12285000000.0,9243000000.0,6188000000.0,2043000000.0,1414000000.0,NaN
Tax Provision,1821000000.0,1279000000.0,793000000.0,166000000.0,-126000000.0,NaN
Pretax Income,14106000000.0,10522000000.0,6981000000.0,2209000000.0,1288000000.0,NaN
Other Income Expense,261000000.0,-66000000.0,59000000.0,-15000000.0,-19000000.0,NaN
Other Non Operating Income Expenses,261000000.0,-66000000.0,59000000.0,-15000000.0,-19000000.0,NaN
Special Income Charges,0.0,0.0,0.0,0.0,0.0,NaN
Restructuring And Mergern Acquisition,0.0,0.0,0.0,0.0,0.0,NaN
Net Non Operating Interest Income Expense,231000000.0,171000000.0,122000000.0,84000000.0,51000000.0,NaN
Interest Expense Non Operating,63000000.0,63000000.0,65000000.0,66000000.0,64000000.0,NaN
Interest Income Non Operating,294000000.0,234000000.0,187000000.0,150000000.0,115000000.0,NaN
Operating Income,13614000000.0,10417000000.0,6800000000.0,2140000000.0,1256000000.0,NaN
Operating Expense,3177000000.0,2983000000.0,2662000000.0,2508000000.0,2577000000.0,NaN
Research And Development,2465000000.0,2294000000.0,2040000000.0,1875000000.0,1952000000.0,NaN
Selling General And Administration,712000000.0,689000000.0,622000000.0,633000000.0,625000000.0,NaN
Gross Profit,16791000000.0,13400000000.0,9462000000.0,4648000000.0,3833000000.0,NaN
Cost Of Revenue,5312000000.0,4720000000.0,4045000000.0,2544000000.0,2218000000.0,NaN
Total Revenue,22103000000.0,18120000000.0,13507000000.0,7192000000.0,6051000000.0,NaN
Operating Revenue,22103000000.0,18120000000.0,13507000000.0,7192000000.0,6051000000.0,NaN

In [5]:
nvda.quarterly_balance_sheet

,2024-01-31,2023-10-31,2023-07-31,2023-04-30,2023-01-31,2022-10-31
Treasury Shares Number,NaN,0.0,NaN,NaN,NaN,NaN
Ordinary Shares Number,2464000000.0,2466000000.0,2469000000.0,2473000000.0,2466136572.0,NaN
Share Issued,2464000000.0,2466000000.0,2469000000.0,2473000000.0,2466136572.0,NaN
Net Debt,2429000000.0,4187000000.0,3922000000.0,5875000000.0,7564000000.0,NaN
Total Debt,11056000000.0,11027000000.0,10954000000.0,12080000000.0,12031000000.0,NaN
...,...,...,...,...,...,...
Receivables,9999000000.0,8309000000.0,7066000000.0,4080000000.0,3827000000.0,NaN
Accounts Receivable,9999000000.0,8309000000.0,7066000000.0,4080000000.0,3827000000.0,NaN
Cash Cash Equivalents And Short Term Investments,25984000000.0,18281000000.0,16023000000.0,15320000000.0,13296000000.0,NaN
Other Short Term Investments,18704000000.0,12762000000.0,10240000000.0,10241000000.0,9907000000.0,NaN
Cash And Cash Equivalents,7280000000.0,5519000000.0,5783000000.0,5079000000.0,3389000000.0,NaN

In [6]:
nvda.quarterly_cash_flow

,2024-01-31,2023-10-31,2023-07-31,2023-04-30,2023-01-31,2022-10-31
Free Cash Flow,11245000000.0,7054000000.0,6059000000.0,2663000000.0,1739000000.0,NaN
Repurchase Of Capital Stock,-2659000000.0,-3807000000.0,-3067000000.0,0.0,-1213000000.0,NaN
Repayment Of Debt,0.0,0.0,NaN,NaN,0.0,0.0
Issuance Of Debt,NaN,NaN,NaN,NaN,0.0,0.0
Capital Expenditure,-254000000.0,-278000000.0,-289000000.0,-248000000.0,-509000000.0,NaN
Income Tax Paid Supplemental Data,1873000000.0,4348000000.0,NaN,NaN,32000000.0,264000000.0
End Cash Position,7280000000.0,5519000000.0,5882000000.0,5079000000.0,3389000000.0,NaN
Beginning Cash Position,5519000000.0,5882000000.0,5079000000.0,3389000000.0,2800000000.0,NaN
Changes In Cash,1761000000.0,-363000000.0,803000000.0,1690000000.0,589000000.0,NaN
Financing Cash Flow,-3629000000.0,-4525000000.0,-5099000000.0,-380000000.0,-1656000000.0,NaN
Cash Flow From Continuing Financing Activities,-3629000000.0,-4525000000.0,-5099000000.0,-380000000.0,-1656000000.0,NaN
Net Other Financing Charges,-871000000.0,-777000000.0,-683000000.0,-527000000.0,-351000000.0,NaN
Proceeds From Stock Option Exercised,0.0,156000000.0,1000000.0,246000000.0,6000000.0,NaN
Cash Dividends Paid,-99000000.0,-97000000.0,-100000000.0,-99000000.0,-98000000.0,NaN
Common Stock Dividend Paid,NaN,NaN,NaN,-99000000.0,-98000000.0,-100000000.0
Net Common Stock Issuance,-2659000000.0,-3807000000.0,-3067000000.0,0.0,-1213000000.0,NaN
Common Stock Payments,-2659000000.0,-3807000000.0,-3067000000.0,0.0,-1213000000.0,NaN
Net Issuance Payments Of Debt,0.0,0.0,NaN,NaN,0.0,0.0
Net Long Term Debt Issuance,0.0,0.0,NaN,NaN,0.0,0.0
Long Term Debt Payments,0.0,0.0,NaN,NaN,0.0,0.0
Long Term Debt Issuance,NaN,NaN,NaN,NaN,0.0,0.0
Investing Cash Flow,-6109000000.0,-3170000000.0,-446000000.0,-841000000.0,-3000000.0,NaN
Cash Flow From Continuing Investing Activities,-6109000000.0,-3170000000.0,-446000000.0,-841000000.0,-3000000.0,NaN
Net Investment Purchase And Sale,-5855000000.0,-2892000000.0,-157000000.0,-510000000.0,506000000.0,NaN
Sale Of Investment,1781000000.0,2890000000.0,2599000000.0,2512000000.0,2633000000.0,NaN
Purchase Of Investment,-7636000000.0,-5782000000.0,-2756000000.0,-3022000000.0,-2127000000.0,NaN
Net Business Purchase And Sale,0.0,0.0,0.0,-83000000.0,0.0,NaN
Purchase Of Business,0.0,0.0,0.0,-83000000.0,0.0,NaN
Net PPE Purchase And Sale,-254000000.0,-278000000.0,-289000000.0,-248000000.0,-509000000.0,NaN
Purchase Of PPE,-254000000.0,-278000000.0,-289000000.0,-248000000.0,-509000000.0,NaN
Operating Cash Flow,11499000000.0,7332000000.0,6348000000.0,2911000000.0,2248000000.0,NaN
Cash Flow From Continuing Operating Activities,11499000000.0,7332000000.0,6348000000.0,2911000000.0,2248000000.0,NaN
Change In Working Capital,-1719000000.0,-2733000000.0,-174000000.0,904000000.0,287000000.0,NaN
Change In Other Current Liabilities,306000000.0,-28000000.0,131000000.0,105000000.0,150000000.0,NaN
Change In Payables And Accrued Expense,1353000000.0,-1261000000.0,2764000000.0,700000000.0,-27000000.0,NaN
Change In Accrued Expense,1072000000.0,-1722000000.0,1986000000.0,689000000.0,166000000.0,NaN
Change In Payable,281000000.0,461000000.0,778000000.0,11000000.0,-193000000.0,NaN
Change In Account Payable,281000000.0,461000000.0,778000000.0,11000000.0,-193000000.0,NaN
Change In Prepaid Assets,-1185000000.0,255000000.0,-377000000.0,-215000000.0,-210000000.0,NaN
Change In Inventory,-503000000.0,-456000000.0,295000000.0,566000000.0,-706000000.0,NaN
Change In Receivables,-1690000000.0,-1243000000.0,-2987000000.0,-252000000.0,1080000000.0,NaN
Changes In Account Receivables,-1690000000.0,-1243000000.0,-2987000000.0,-252000000.0,1080000000.0,NaN
Other Non Cash Items,-108000000.0,-68000000.0,-68000000.0,-34000000.0,20000000.0,NaN
Stock Based Compensation,994000000.0,979000000.0,841000000.0,735000000.0,738000000.0,NaN
Deferred Tax,-78000000.0,-530000000.0,-746000000.0,-1135000000.0,-647000000.0,NaN
Deferred Income Tax,-78000000.0,-530000000.0,-746000000.0,-1135000000.0,-647000000.0,NaN
Depreciation Amortization Depletion,387000000.0,372000000.0,365000000.0,384000000.0,426000000.0,NaN
Depreciation And Amortization,387000000.0,372000000.0,365000000.0,384000000.0,426000000.0,NaN
Operating Gains Losses,-262000000.0,69000000.0,-59000000.0,14000000.0,10000000.0,NaN
Gain Loss On Investment Securities,-262000000.0,69000000.0,-59000000.0,14000000.0,10000000.0,NaN
Net Income From Continuing Operations,12285000000.0,9243000000.0,6189000000.0,2043000000.0,1414000000.0,NaN

In [7]:
nvda.major_holders

Breakdown                          Value
insidersPercentHeld              0.04319
institutionsPercentHeld          0.67495
institutionsFloatPercentHeld     0.70541
institutionsCount             5521.00000

In [8]:
nvda.institutional_holders

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Group Inc,0.0815,201392728,85193151798
1,2023-06-30,Blackrock Inc.,0.0737,182096923,77030640367
2,2023-06-30,"FMR, LLC",0.0532,131491181,55623399386
3,2023-06-30,State Street Corporation,0.0370,91510810,38710902846
4,2023-06-30,Price (T.Rowe) Associates Inc,0.0222,54723581,23149169234
5,2023-06-30,"Geode Capital Management, LLC",0.0192,47459414,20076281310
6,2023-06-30,JP Morgan Chase & Company,0.0144,35567980,15045966899
7,2023-06-30,Morgan Stanley,0.0135,33261283,14070187934
8,2022-12-31,Norges Bank Investment Management,0.0108,26692722,3900874393
9,2023-06-30,Northern Trust Corporation,0.0103,25401425,10745310803

In [9]:
nvda.mutualfund_holders

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Total Stock Market Index Fund,0.0297,73271028,30995110264
1,2023-06-30,Vanguard 500 Index Fund,0.0238,58883488,24908893093
2,2023-05-31,Fidelity 500 Index Fund,0.0111,27527635,10414805425
3,2023-08-31,SPDR S&P 500 ETF Trust,0.0110,27236757,13442701417
4,2023-08-31,iShares Core S&P 500 ETF,0.0094,23131529,11416566137
5,2023-06-30,Vanguard Growth Index Fund,0.0081,19989861,8456111000
6,2023-08-31,"Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF",0.0079,19518481,9633346297
7,2023-06-30,Vanguard Institutional Index Fund-Institutiona...,0.0068,16882359,7141575504
8,2023-08-31,Fidelity Growth Company Fund,0.0057,14003650,6911501457
9,2023-05-31,Vanguard Information Technology Index Fund,0.0054,13216430,5000304126

In [10]:
nvda.insider_purchases

       Insider Purchases Last 6m       Shares  Trans
0                      Purchases     905653.0     15
1                          Sales     587976.0     24
2    Net Shares Purchased (Sold)     317677.0     39
3      Total Insider Shares Held  106333784.0   <NA>
4  % Net Shares Purchased (Sold)        0.003   <NA>
5                   % Buy Shares        0.009   <NA>
6                  % Sell Shares        0.006   <NA>

In [11]:
nvda.insider_transactions

,Shares,Value,URL,Text,Insider,Position,Transaction,Start Date,Ownership
0,1667,0,,Stock Award(Grant) at price 0.00 per share.,ROBERTSON DONALD F JR,Officer,,2024-04-08,D
1,22700,19975240,,Sale at price 877.00 - 882.36 per share.,STEVENS MARK A,Director,,2024-04-05,I
2,7000,6215259,,Sale at price 887.89 per share.,PERRY MARK L,Director,,2024-04-02,I
3,11000,9962150,,Sale at price 905.65 per share.,STEVENS MARK A,Director,,2024-03-28,I
4,128,120320,,Sale at price 940.00 per share.,DABIRI JOHN O,Director,,2024-03-25,D
...,...,...,...,...,...,...,...,...,...
145,1438,0,,Stock Award(Grant) at price 0.00 per share.,HUDSON BEACH DAWN E,Director,,2022-06-03,D
146,1438,0,,Stock Award(Grant) at price 0.00 per share.,DRELL PERSIS S,Director,,2022-06-03,D
147,21315,0,,Stock Gift at price 0.00 per share.,TETER TIMOTHY S,General Counsel,,2022-06-03,D
148,1438,0,,Stock Award(Grant) at price 0.00 per share.,SHAH AARTI S,Director,,2022-06-03,D
149,1438,0,,Stock Award(Grant) at price 0.00 per share.,NEAL STEPHEN C.,Director,,2022-06-03,D

In [12]:
nvda.insider_roster_holders

,Name,Position,URL,Most Recent Transaction,Latest Transaction Date,Shares Owned Indirectly,Position Indirect Date,Shares Owned Directly,Position Direct Date
0,COXE TENCH C,Director,,Sale,2024-03-05,3787610.0,1.709597e+09,NaN,NaT
1,DABIRI JOHN O,Director,,Sale,2024-03-25,NaN,NaN,2055.0,2024-03-25
2,HUANG JEN-HSUN,Chief Executive Officer,,Stock Award(Grant),2024-03-06,NaN,NaN,86827600.0,2024-03-06
3,KRESS COLETTE M.,Chief Financial Officer,,Stock Award(Grant),2024-03-08,NaN,NaN,643148.0,2024-03-08
4,PERRY MARK L,Director,,Sale,2024-04-02,131612.0,1.712016e+09,NaN,NaT
5,PURI AJAY K,Officer,,Stock Award(Grant),2024-03-08,NaN,NaN,532401.0,2024-03-08
6,ROBERTSON DONALD F JR,Officer,,Stock Award(Grant),2024-04-08,NaN,NaN,51482.0,2024-04-08
7,SHOQUIST DEBORA C,Officer,,Stock Award(Grant),2024-03-08,NaN,NaN,307725.0,2024-03-08
8,STEVENS MARK A,Director,,Sale,2024-04-05,4069180.0,1.712275e+09,NaN,NaT
9,TETER TIMOTHY S,General Counsel,,Stock Award(Grant),2024-03-08,NaN,NaN,336225.0,2024-03-08

In [14]:
nvda.recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m          7   14    15     1           1
1    -1m         20   34     4     0           0
2    -2m         19   33     4     0           0
3    -3m         12   21    12     2           0

In [15]:
nvda.recommendations_summary

  period  strongBuy  buy  hold  sell  strongSell
0     0m          7   14    15     1           1
1    -1m         20   34     4     0           0
2    -2m         19   33     4     0           0
3    -3m         12   21    12     2           0

In [16]:
nvda.upgrades_downgrades

                                   Firm      ToGrade       FromGrade Action
GradeDate
2024-05-23 17:17:04           Citigroup          Buy             Buy   main
2024-05-23 17:02:18       Deutsche Bank         Hold            Hold   main
2024-05-23 16:56:36        Craig-Hallum          Buy             Buy   main
2024-05-23 16:40:24             Wedbush   Outperform      Outperform   main
2024-05-23 15:45:18            TD Cowen          Buy             Buy   main
...                                 ...          ...             ...    ...
2012-05-14 10:19:00           Jefferies         Hold                   main
2012-04-05 11:07:00   Cantor Fitzgerald          Buy                   init
2012-02-16 12:29:00  Evercore ISI Group  Underweight                   main
2012-02-16 11:34:00   B of A Securities      Neutral             Buy   down
2012-02-13 12:27:00         FBR Capital   Outperform  Market Perform     up

[757 rows x 4 columns]

In [17]:
nvda.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2025-06-26 12:00:00-04:00          5.57           NaN          NaN
2025-05-20 16:00:00-04:00           NaN           NaN          NaN
2025-02-19 16:00:00-05:00           NaN           NaN          NaN
2024-11-19 16:00:00-05:00           NaN           NaN          NaN
2024-08-21 06:00:00-04:00          5.83           NaN          NaN
2024-06-26 12:00:00-04:00          5.59           NaN          NaN
2024-06-05 15:00:00-04:00           NaN           NaN          NaN
2024-05-22 16:00:00-04:00          5.59          6.12       0.0954
2024-03-19 11:00:00-04:00          4.63          5.16       0.1145
2024-03-18 06:00:00-04:00          4.63          5.16       0.1145
2024-03-05 09:00:00-05:00          4.63          5.16       0.1145
2024-03-04 13:00:00-05:00          4.63          5.16       0.1145

In [19]:
# nvda.earnings not implemented

In [20]:
nvda.options

('2024-05-31',
 '2024-06-07',
 '2024-06-14',
 '2024-06-21',
 '2024-06-28',
 '2024-07-05',
 '2024-07-19',
 '2024-08-16',
 '2024-09-20',
 '2024-10-18',
 '2024-11-15',
 '2024-12-20',
 '2025-01-17',
 '2025-02-21',
 '2025-03-21',
 '2025-06-20',
 '2025-09-19',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18',
 '2026-12-18')

In [24]:
opt = nvda.option_chain('2024-05-31')

In [25]:
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,NVDA240531C00260000,2024-05-23 19:59:29+00:00,260.0,777.99,891.50,894.60,0.00000,0.000000,2.0,5,8.265630,True,REGULAR,USD
1,NVDA240531C00290000,2024-05-29 17:55:27+00:00,290.0,859.74,861.50,864.60,327.06000,61.398964,1.0,1,7.675782,True,REGULAR,USD
2,NVDA240531C00300000,2024-05-29 13:34:35+00:00,300.0,824.95,851.20,854.50,-11.47998,-1.372497,2.0,6,7.421876,True,REGULAR,USD
3,NVDA240531C00310000,2024-05-22 19:29:14+00:00,310.0,630.87,841.85,844.25,0.00000,0.000000,3.0,1,7.318360,True,REGULAR,USD
4,NVDA240531C00320000,2024-05-28 13:40:27+00:00,320.0,798.29,831.10,834.60,0.00000,0.000000,1.0,3,7.080079,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,NVDA240531C01550000,2024-05-29 18:02:13+00:00,1550.0,0.05,0.03,0.05,0.00000,0.000000,788.0,1556,1.078130,False,REGULAR,USD
183,NVDA240531C01600000,2024-05-29 18:10:08+00:00,1600.0,0.02,0.02,0.03,-0.02000,-40.000004,1669.0,2475,1.132817,False,REGULAR,USD
184,NVDA240531C01650000,2024-05-29 18:02:43+00:00,1650.0,0.01,0.01,0.03,-0.02000,-40.000004,974.0,1901,1.210941,False,REGULAR,USD
185,NVDA240531C01700000,2024-05-29 18:04:20+00:00,1700.0,0.02,0.01,0.02,-0.01000,-33.333336,1020.0,17725,1.281254,False,REGULAR,USD
186,NVDA240531C01750000,2024-05-29 18:09:26+00:00,1750.0,0.02,0.01,0.02,0.01000,100.000000,1710.0,19906,1.359378,False,REGULAR,USD

In [26]:
opt.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,NVDA240531P00260000,2024-05-28 13:30:24+00:00,260.0,0.01,0.00,0.01,0.0,0.0,13.0,53,4.375005,False,REGULAR,USD
1,NVDA240531P00280000,2024-05-28 13:54:06+00:00,280.0,0.01,0.00,0.01,0.0,0.0,20.0,36,4.187505,False,REGULAR,USD
2,NVDA240531P00290000,2024-05-23 13:30:16+00:00,290.0,0.01,0.00,0.01,0.0,0.0,7.0,19,4.125005,False,REGULAR,USD
3,NVDA240531P00300000,2024-05-29 13:30:06+00:00,300.0,0.01,0.00,0.01,0.0,0.0,10.0,76,3.937500,False,REGULAR,USD
4,NVDA240531P00310000,2024-05-29 14:34:36+00:00,310.0,0.01,0.00,0.01,0.0,0.0,1.0,19,3.875000,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,NVDA240531P01400000,2024-05-28 17:46:57+00:00,1400.0,255.29,243.65,255.10,0.0,0.0,8.0,0,1.437747,True,REGULAR,USD
198,NVDA240531P01450000,2024-05-17 14:08:03+00:00,1450.0,513.86,294.25,305.05,0.0,0.0,2.0,0,1.624269,True,REGULAR,USD
199,NVDA240531P01500000,2024-05-28 17:45:55+00:00,1500.0,354.10,343.40,356.50,0.0,0.0,2.0,0,1.909790,True,REGULAR,USD
200,NVDA240531P01550000,2024-05-21 13:48:17+00:00,1550.0,616.20,396.70,408.05,0.0,0.0,NaN,0,1.691408,True,REGULAR,USD
201,NVDA240531P01600000,2024-04-26 16:44:51+00:00,1600.0,727.90,530.95,545.45,0.0,0.0,2.0,0,5.148075,True,REGULAR,USD

In [27]:
opt.underlying

{'language': 'en-US',
 'region': 'US',
 'quoteType': 'EQUITY',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'currency': 'USD',
 'marketState': 'REGULAR',
 'regularMarketChangePercent': 0.93063056,
 'regularMarketPrice': 1149.61,
 'exchange': 'NMS',
 'shortName': 'NVIDIA Corporation',
 'longName': 'NVIDIA Corporation',
 'messageBoardId': 'finmb_32307',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'esgPopulated': False,
 'hasPrePostMarketData': True,
 'firstTradeDateMilliseconds': 917015400000,
 'priceHint': 2,
 'regularMarketChange': 10.599976,
 'regularMarketTime': 1717007167,
 'regularMarketDayHigh': 1154.92,
 'regularMarketDayRange': '1109.0201 - 1154.92',
 'regularMarketDayLow': 1109.0201,
 'regularMarketVolume': 42789422,
 'regularMarketPreviousClose': 1139.01,
 'bid': 1147.64,
 'ask': 1150.89,
 'bidSize': 1,
 'askSize': 1,
 'fullExchangeName': 'NasdaqGS',
 'financialCurrency': 'USD',
 'regularMarketOpen': 1130.55,
 'averageDailyVolume3Month': 49484673,
 'averageDailyVolume10Day': 45049240,
 'fiftyTwoWeekLowChange': 776.05,
 'fiftyTwoWeekLowChangePercent': 2.077444,
 'fiftyTwoWeekRange': '373.56 - 1154.92',
 'fiftyTwoWeekHighChange': -5.3100586,
 'fiftyTwoWeekHighChangePercent': -0.0045977714,
 'fiftyTwoWeekLow': 373.56,
 'fiftyTwoWeekHigh': 1154.92,
 'fiftyTwoWeekChangePercent': 201.0546,
 'dividendDate': 1719532800,
 'earningsTimestamp': 1716408000,
 'earningsTimestampStart': 1724237940,
 'earningsTimestampEnd': 1724673600,
 'trailingAnnualDividendRate': 0.16,
 'trailingPE': 67.26799,
 'dividendRate': 0.4,
 'trailingAnnualDividendYield': 0.00014047287,
 'dividendYield': 0.04,
 'epsTrailingTwelveMonths': 17.09,
 'epsForward': 32.88,
 'epsCurrentYear': 24.86,
 'priceEpsCurrentYear': 46.243362,
 'sharesOutstanding': 2459830016,
 'bookValue': 19.96,
 'fiftyDayAverage': 897.898,
 'fiftyDayAverageChange': 251.71198,
 'fiftyDayAverageChangePercent': 0.2803347,
 'twoHundredDayAverage': 629.02765,
 'twoHundredDayAverageChange': 520.58234,
 'twoHundredDayAverageChangePercent': 0.8275985,
 'marketCap': 2827845107712,
 'forwardPE': 34.963806,
 'priceToBook': 57.59569,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'averageAnalystRating': '1.8 - Buy',
 'tradeable': False,
 'cryptoTradeable': False,
 'displayName': 'NVIDIA',
 'symbol': 'NVDA'}

In [28]:
nvda.get_shares_full(start="2022-01-01", end=None)

2023-04-10 00:00:00-04:00    2470000128
2023-05-04 00:00:00-04:00    2506249984
2023-05-05 00:00:00-04:00    2470000128
2023-05-10 00:00:00-04:00    2473129984
2023-05-13 00:00:00-04:00    2520689920
                                ...
2024-04-25 00:00:00-04:00    2586160128
2024-04-25 00:00:00-04:00    2500000000
2024-05-16 00:00:00-04:00    2459830016
2024-05-23 00:00:00-04:00    2459830016
2024-05-23 00:00:00-04:00    2471130112
Length: 64, dtype: int64